@extension_description
Темна тема для кожної мережевої сторінки. Піклуйтеся про свої очі, використовуйте темну тему для нічного та щоденного перегляду.

@loading_please_wait
Завантаження, будь ласка, зачекайте


#==== Top section ====

@on
Увімк

@off
Вимк

@toggle_current_site
Увімкнути поточну сторінку

@setup_hotkey_toggle_site
Налаштуйте поточну сторінку
перемикання гарячою кнопкою

@toggle_extension
Перемкнути розширення

@setup_hotkey_toggle_extension
Увімкнення розширення
перемикання гарячою кнопкою

@time_settings
Налаштування часу

@set_active_hours
Встановити задіяні години

@page_protected
Ця мережева сторінка захищена
мережевим переглядачем

@page_in_dark_list
Ця сторінка є у списку
Темних Мережевих Сторінок


#==== Filter ====

@filter
Цідило

@mode
Вид

@dark
Темний

@light
Світлий

@brightness
Яскравість

@contrast
Контраст

@grayscale
Відтінки сірого

@sepia
Сепія

@only_for
Лише для

@only_for_description
Застосовуйте налаштування лише до поточної мережевої сторінки


#==== Site list ====

@site_list
Список мережевих сторінок

@invert_listed_only
Спротилежнити лише в списку

@not_invert_listed
Не спротилежнено у списку

@add_site_to_list
Додати сторінку до списку

@setup_add_site_hotkey
Встановити гарячу клавішу для додавання сторінки


#==== More settings ====

@more
Більше

@select_font
Оберіть шрифт

@text_stroke
Обведення тексту

@try_experimental_theme_engines
Спробуйте **випробувальні** рунії тем:
**Цідило+** зберігає насиченість барв, використовує GPU
**Стала тема** створює просту швидку тему
**Змінна тема** аналізує барви та зображення

@engine_filter
Цідило

@engine_filter_plus
Цідило+

@engine_static
Сталий

@engine_dynamic
Змінний

@theme_generation_mode
Вид породження тем

@custom_browser_theme_on
Користувацький

@custom_browser_theme_off
Звичайний

@change_browser_theme
Оберіть тему мережевого переглядача


#==== Footer ====

@privacy
Особисті дані

@help
Допомога

@donate
Пожертва

@news
Новини

@read_more
Докладніше

@open_dev_tools
Розробницькі знаряддя


#==== Store listing ====

@store_listing
Це розширення для догляду за очима дозволяє в нічному режимі створювати темні теми для мережевих сторінок на льоту. ТемноЧитач спротилежнює яскраві барви, роблячи їх висококонтрастними і зручними для читання вночі.

Ви можете налаштувати яскравість, контрастність, цідило сепії, темний режим, налаштування шрифту і список нехтування.

ТемноЧитач не показує оголошень і нікуди не відправляє дані користувача. Він повністю з відкритим вихідним кодом https://github.com/darkreader/darkreader

Перед встановленням вимкніть схожі розширення. Насолоджуйтесь переглядом!
